/* CSS declarations go here */
body {
  font-family: 'Hind', sans-serif;
}

#main {
  width: 350px;
  margin: 0 auto;
  height: 650px;
  background-color: RGBA(197, 210, 219, 1.00);
  border: 1px solid black;

}

.add-form {
  background-color: RGBA(62, 107, 133, 1.00);
  padding-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.half-width {
  width: 50%;
}

.top-m-5 {
  margin-top: 5px;
}

.fix-left {
  padding-left: 3px;
}

.fix-top {
  padding-top: 0;
  margin-top: 0;
}

.scroll {
  height: 100%;
  overflow-y: scroll;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    background-color: RGBA(133, 133, 133, 1.00);
    border: 1px solid RGBA(133, 133, 133, 1.00);
}


.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: white;
    background-color: RGBA(133, 133, 133, .60);
    border: 1px solid RGBA(133, 133, 133, .60);
}

#categories {
  background-color: RGBA(244, 146, 30, 1.00);
  color: white;
  height: 556px;
}

#bookmarks {
  background-color: RGBA(244, 146, 30, .60);
  /*color: white;*/
  height: 556px;
}

.tab-content {
  height: 556px;
  background-color: white;
}

.added-text {
  font-size: .7em;
}

.dots {
  padding: 2px 5px 0 5px
}

.fix-p-margin {
  margin: 3px 0;
}

.comment-timestamp {
  font-size: .7em;
}

.modal-body {
  overflow-y: scroll;
  max-height: 625px;
}

.modal-dialog {
  width: 345px;
}

.bookmark-left {
  overflow-x: hidden;
}