<template name="bodySection">
  <div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" aria-controls="topics" role="tab" data-toggle="tab">Topics</a></li>
      <li role="presentation"><a href="" aria-controls="teammates" role="tab" data-toggle="tab">Teammates</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="topics">

      </div>
      <div role="tabpanel" class="tab-pane" id="teammates">

      </div>
    </div>
  </div>
</template>