<template name="bookmark">
  <!-- to list a bookmark -->
  <div class="row bookmark-detail">
    <div class="col-xs-8 bookmark-left">
      <p class="fix-p-margin">{{this.name}}</p>
      <p class="added-text fix-p-margin"><a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
      <p class="added-text fix-p-margin">{{formatTime this.timeAdded 'fromNow'}}</p>
    </div>
    <div class="col-xs-4 text-center">
      <div class="row">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span>{{getAvRating this.rating}}</span>
      </div>
      <div class="row">
        <span class="showModal glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</template>